<h3>生徒詳細</h3>
<div class="student">
  <p> <%= @student.student_name %></p>
  <p><%= @student.sex %></p>
  <p><%= @student.grade %></p>
  <p><%= @student.subject %></p>
  <p><%= @student.created_at %></p>

  <% if user_signed_in? %>
  <% if current_user.already_liked?(@student) %>
      <%= link_to student_like_path(@student), method: :delete do %>
        <i class="fas fa-heart"></i><%= @student.likes.count %>
      <% end %>
  <% else %>
      <%= link_to student_likes_path(@student), method: :post do %>
        <i class="far fa-heart"></i><%= @student.likes.count %>
      <% end %>
  <% end %>
<% else %>
  <i class="far fa-heart"></i><%= @student.likes.count %>
<% end %>

</div>

<h2>いいねしたユーザー</h2>
<% @student.liked_users.each do |user| %>
  <li><%= user.email %></li>
<% end %>

<div class="comment-wrapper">
<h2>コメント一覧</h2>
<% @comments.each do |c| %>
  <%= button_to "削除する",  student_comment_path(id:c.id, student_id:@student.id), method: :delete %>
  <div>
    <%= c.user.email unless c.user.blank? %>
    <br>
    <label for="content">今日の様子</label>
    <%= c.content %>

    <label for="quizscore">小テスト</label>
    <%= c.quizscore %>

    <label for="test">定期テスト</label>
    <%= c.test %>

    <label for="courseday">授業日</label>
    <%= c.courseday %>
  </div>
    <br>
   
<% end %>

<% if user_signed_in? %>
  <%= form_with(model: [@student, @comment], local: true) do |f| %>
    <div>
    <label for="content">今日の様子</label>
    <%= f.text_area :content %>
    </div>

    <div>
    <label for="quizscore">小テスト</label>
    <%= f.number_field :quizscore %>
    </div>
    
    <div>
    <label for="test">定期テスト</label>
    <%= f.number_field :test %>
    </div>

    <div>
    <label for="courseday">授業日</label>
    <%= f.datetime_field :courseday %>
    </div>
    <%= button_tag type: "submit" do %>
      <i class="far fa-comments"></i> コメントする
    <% end %>
  <% end %>
 <% end %>
</div>

<%= link_to "生徒一覧に戻る", students_path %>
<%= link_to "生徒情報を編集する", edit_student_path(@student.id) %>
